{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static "page.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "dropzone.min.css" %}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<title>BENGA-Non Release</title>
</head>
<body>
	<div id="root"></div>
</body>
</html>
